<div class="movie-list-container">
  <h1 class="title">Lista de Películas</h1>

  <div class="movies-grid">
    @for(movie of movies; track movie.id) {
      <div class="movie-card" (click)="onSelect(movie)">
        <div class="card-image">
          <img [src]="movie.posterImageUrl" [alt]="movie.title + ' poster'" />
        </div>
        <div class="card-content">
          <h3 class="movie-title">{{ movie.title }}</h3>
          <p class="movie-description">{{ movie.shortDescription }}</p>
          <p class="movie-info"><strong>Director:</strong> {{ movie.director }}</p>
          <p class="movie-info"><strong>Año:</strong> {{ movie.releaseYear }}</p>
        </div>
      </div>
    }
  </div>
</div>
